@using System.ComponentModel
@using System.Reflection
@using Cot.Entities
@model IEnumerable<Material>
@{
	ViewBag.Title = "物料管理";
	var pros = new List<PropertyInfo>();
}
<div class="toolbar"><a href="/material/add">新增</a><a href="javascript:del();">删除</a></div>
<form action="/material/del" method="POST">
	<table class="gridview">
		<thead>
			<tr>
				<th>
					<input type="checkbox" /></th>
				@foreach (var item in typeof(Material).GetProperties())
	{
		var attrs = item.GetCustomAttributes(typeof(DisplayNameAttribute), false);
		if (attrs.Any())
		{
			var attr = attrs.First() as DisplayNameAttribute;
			if (attr != null)
			{
				pros.Add(item);
					<th>@attr.DisplayName</th>
			}
		}
	}
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
   {
				<tr>
					<td>
						<input type="checkbox" value="@item.Id" name="ids" /></td>
					@foreach (var pro in pros)
	 {
						<td>@pro.GetValue(item, null)</td>
	 }
					<td><a href="/material/edit/@item.Id">编辑</a></td>
				</tr>
   }
		</tbody>
	</table>
</form>
<script>
	function del() {
		if (confirm("确定删除？")) {
			$('form').submit();
		}
	}
</script>
