@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/Contents/main.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-2.1.3.min.js"></script>
</head>
<body>
	<table class="layout">
		<tr>
			<td>
				<ul class="menu">
					<li><a href="/scheduling">交货排程</a></li>
					<li><a href="/bom">Bom表管理</a></li>
					<li><a href="/Material">物料管理</a></li>
					<li><a href="/po">生产工单管理</a></li>
					<li><a href="/RawMaterial">原材料管理</a></li>
					<li><a href="/Requisition">请购单管理</a></li>
				</ul>
			</td>
			<td>@RenderBody()</td>
		</tr>
	</table>
</body>
</html>
